
@using Microsoft.AspNetCore.Components.Web
@using Week8PicknPay.Repository
@using Week8PicknPay.Components
@using Week8PicknPay.CustomEvents

@implements IDisposable
@inject IShoppingCart _cart

<li>
    <a href="/shoppingcart">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <span id="cart-status">
            @Count
        </span>
    </a>
</li>

@code{
    private int Count;

    protected override void OnInitialized()
    {
        _cart.GetShoppingCartItems();
        CartEvent.UpdateCartSummary += UpdateCartCount;
    }

    protected override void OnParametersSet()
    {
        Count = _cart.CartItemsCount;
    }

    public void UpdateCartCount(object sender, EventArgs e)
    {
        _ = InvokeAsync(() =>
        {
            Count = _cart.CartItemsCount;
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        CartEvent.UpdateCartSummary -= UpdateCartCount;
    }
}

