@using Microsoft.AspNetCore.Components.Web
@using Week8PicknPay.Repository

@inject IUnitOfWork _unitOfWork;

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">Product Categories<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var categoryName in _unitOfWork.Categories.CategoryNames)
        {
            <li>
                <a href="/@categoryName/products">@categoryName</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a href="/All/products">View all products</a>
        </li>
    </ul>
</li>