@using Microsoft.AspNetCore.Components.Web
@using Week8PicknPay.Repository

@inject IUnitOfWork _unitOfWork;
@inject NavigationManager NavigationManager


<div class="nav-search-div">
        <input class="navbar-search" type="search" @bind-value="@SearchTerm" @onkeyup="() => navigate()" placeholder="Search for products and categories..." aria-label="Search">
        <a @onclick="() => navigate()">
            <span class="fa fa-search"></span>
        </a>
</div>


@code {

    public string SearchTerm { get; set; }

    private void navigate()
    {
        if (!string.IsNullOrWhiteSpace(SearchTerm))
        {
            var query = string.Format("/search-products/{0}", SearchTerm);
            NavigationManager.NavigateTo(query, forceLoad: true);
        }
    }
}
