
@using Microsoft.AspNetCore.Components.Web

    <div class="not-found">
        <div>
            <img src="~/Images/404-not-found.png" alt="404 Image">
        </div>
        <div class="text">
            <h1>404</h1>
            <h3>Page Not Found</h3>
            <p>The Requested link may be broken or Page does not exist! </p>
        </div>
        <div>
            <a class="btn plain bold" href="/"><i class="fas fa-home" /> Go back to homepage</a>
        </div>
    </div>
