@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}




    <div style="display:flex; justify-content:center">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" style="width:40rem">
            <div style="text-align:center">
                <h2 style="color:crimson; margin-top:0px;">@ViewData["Title"]</h2>
                <h4>Create a new account.</h4>
            </div>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%;">Register</button>

            <div style="text-align: center;">
                <p style=" margin-top: 1rem;">
                    <a style="color:crimson;" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already Have an Account? SignIn'</a>
                </p>
            </div>
        </form>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
