
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Privacy and Cookie Notice provides information on how PicknPay collects and processes your personal data when you visit our website or mobile applications.</p>
<p>If you are looking for more information on how we process your personal data, or you wish to exercise your legal rights in respect of your personal data, please contact emmanuel.ajibode@decagon.dev.</p>
