
@using Microsoft.AspNetCore.Components.Web
@using Week8PicknPay.Repository
@using Week8PicknPay.Models
@using Week8PicknPay.Components
@using Week8PicknPay.Views.Shared.Components

@inject NavigationManager _navigationManager;
@inject IProductRepository _productRepository;
@inject IShoppingCart _cart

@inherits ProductCart

<div class="row">

    @foreach (var product in _productRepository.TopDealProducts)
    {
        <div class="col-xs-6  col-sm-4 col-lg-3 col-md-3">
           
            <div class="thumbnail">
                <a href="/product/@product.ProductId.ToString()">
                    <div class="thumbnail-img">
                        <img src="@product.ImageUrl" alt="@product.Name">
                    </div>

                    <div class="caption" style="margin:0px;">
                        <div>
                            <h4 class="product-name">
                                @product.Name
                            </h4>
                            <h4 style="font-weight:bold">@string.Format("#{0:N}", product.Price)</h4>
                        </div>
                    </div>
                </a>
                <div class="addToCart" style="margin-bottom:5px;">
                    <p class="btn btn-primary" @onclick="(e => AddToCart(product))">Add To Cart</p>
                </div>
                
            </div>
        </div>
    }

</div>


@if (show)
{
    <div class="add-cart-success">
        <div class="alert-content">
            <p class="alert-info">Product successfully added to cart!</p>
            <a class="cart-link" href="/shoppingcart">View Cart</a>
        </div>
        <div class="alert-close">
            <p class="dismiss" @onclick="(() => CloseNotification())">x</p>
        </div>
    </div>
}



@code {

    void AddToCart(Product product)
    {
        show = _cart.AddToCart(product, productQty);
    }
}