
@using Week8PicknPay.Repository
@inject IShoppingCart Cart

    <li>
        <a href="/shoppingcart">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @Cart.GetShoppingCartItems().Count
            </span>
        </a>
    </li>
