<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/content/site.css" rel="stylesheet" />
</head>
<body>


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #b61a4c !important;">
        <div>
            <div class=pull-left>
                <a asp-controller="Home" asp-action="Index">
                    <img alt="Pick n Pay Stores'" src="~/Images/pick-n-pay-logo.jpg" style="margin: 9px; border-radius: 6px;" />
                </a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div>
                    <ul class="nav navbar-nav">
                        <li>
                            <input class="form-control" style="margin-top: 10px; line-height:20px" type="search" placeholder="Search By Product Name" aria-label="Search">
                        </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="nav navbar-nav" style="padding-right:2rem;">
                        @await Component.InvokeAsync("CategoryMenu")
                        @await Component.InvokeAsync("ShoppingCartSummary")
                        <li><a asp-controller="Request" asp-action="Index">Contact Us</a></li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <div class="container" style="min-height:77vh;">

        <div class="row">
            <div class="col-md-0">
                @RenderBody()
            </div>
        </div>
        <hr />

        <script src="~/lib/jquery/jquery.js"></script>

        @RenderSection("Scripts", required: false)
    </div>

    <footer>
        <div class="container" style="display: flex; justify-content: center; color: white;">
            <a asp-controller="Home" asp-action="Index" style="color:white; margin:20px;">Home</a>
            <a asp-controller="Product" asp-action="List" asp-route-Category="" style="color:white; margin:20px;">Products</a>
            <a asp-controller="Request" asp-action="Index" style="color:white; margin:20px;">Contact Us</a>
        </div>
        <div class="container" style="display: flex; justify-content: center; color:white;">
            &copy; 2021 Aji Crafts, Inc - <a style="color:white;" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>