

<li class="dropdown">
    <a asp-controller="Product"
       asp-action="Index"
       class="dropdown-toggle" data-toggle="dropdown">Need Help?<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Contact" asp-action="List" asp-route-Category="">FAQs</a>
        </li>
        <li>
            <a asp-controller="Contact" asp-action="List" asp-route-Category="">Contact Us</a>
        </li>
    </ul>
</li>