
@model User

<h2>User Profile</h2>

<div>
    <div>
        <p> @Model.FirstName</p>
    </div>
    <div>
        <p> @Model.LastName</p>
    </div>
    <div>
        <p> @Model.Email</p>
    </div>


    <hr />


    <hr />

</div>

