@using Week8PicknPay.Views.ShoppingCart

<div class="container">
    <div class="text-center">
        <h2 style="color: #b61a4c;">Your shopping cart</h2>
        <h4 style="color:#b61a4c">Here are the products in your shopping cart.</h4>
    </div>



    @(await Html.RenderComponentAsync<ShoppingCartItems>(RenderMode.ServerPrerendered))

    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
    </div>
</div>
