@model ProductsListViewModel

@using Week8PicknPay.Views.Product


<h1 style="color: #b61a4c; display: flex; justify-content: center; ">@Model.CurrentCategory.CategoryName.ToUpper()</h1>

 @(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered, new {CategoryId = Model.CurrentCategory.CategoryId }))

