@model ProductsListViewModel


<h1 style="color: #b61a4c; display: flex; justify-content: center; ">@Model.CurrentCategory.ToUpper()</h1>

@foreach (var product in Model.Products)
{
    <partial name="_ProductCard" model="product" />
}